
<nav class="sticky-top">

  <div class="d-flex justify-content-between p-5">

    <div>
      <%= link_to "DevGil", root_path, :class => 'pl-3 link-nav'%>
    </div>

    <div>
      <%= link_to "HOME", root_path, :class => 'pl-3 link-nav'%>
      <%= link_to "WRITE ARTICLE", new_article_path, :class => 'pl-3 link-nav'%>
    </div>

    <div>
      <%= link_to "LOGIN", root_path, :class => 'pr-2 link-nav'%> |

      <%= link_to "REGISTER", new_user_path, :class => 'pr-3 pl-2 link-nav'%>
    </div>

  </div>
</nav>
