

<div class="top-post" style="background:url(<%= @most_voted_article.image %>)">
  <!-- <div class="top-post" style="background:url(https://i.imgur.com/vbJ70Gr.jpg)"> -->
  <div class="bottom-left">
    <h4 class="article-title"> <%= @most_voted_article.title %> </h4>
    <p class="article-text"> <%= truncate(@most_voted_article.text, length:200, separator: ' ') %> </p>
  </div>
</div>



<div class="container-fluid">


  <div class="row">

    <%  @categories.each do |category| %>
    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
      <div class="category-post"  style="background:url(<%= category.articles.ordered_most_recent.first.image %>)">
        <h5> <%= link_to(category.name, category_path(category), :class => 'category-name m-4')%> </h5>
        <p class="article-title-category bottom-left m-4"><%= category.articles.ordered_most_recent.first.title %></p>
      </div>
    </div>
    <% end %>

  </div>

</div>
